@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&family=Poppins:wght@400;500;600&display=swap");

body {
  background-image: url("../img/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  padding: 0;
  margin: 0;
}

/*==================== NAVBAR ====================*/
.header {
  width: 100%;
  position: fixed;
  z-index: 999;
}

.nav {
  max-width: auto;
  margin: 0 80px;
  height: 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__logo {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 45px;
  align-items: center;
  color: #ffa072;
  text-decoration: none;
}

.nav__menu {
  margin-left: auto;
}

.nav__list {
  display: flex;
  column-gap: 2rem;
  list-style: none;
}

.nav__link {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 45px;
  align-items: center;
  color: #fff;
  text-decoration: none;
}

.nav__link:hover {
  color: #ffa072;
}
