/*==================== ASL TRANSLATOR ====================*/
.textToSign {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 550px;
  height: 356px;
  position: relative;
  margin: auto;
  padding-top: 10%;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section__header {
  width: 550px;
  height: 89px;
  text-align: center;
  row-gap: 10px;
}

.section__title {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 60px;
  line-height: 60px;
  color: #ffa072;
  margin: 0%;
}

.section__subtitle {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 45px;
  align-items: center;
  color: #ffffff;
  margin: 0%;
}

input {
  box-sizing: border-box;
  width: 434px;
  height: 50px;
  padding: 15px 0;
  margin-top: 30px;
  background: linear-gradient(
    267.75deg,
    rgba(255, 255, 255, 0.14) 0.8%,
    rgba(255, 255, 255, 0.07) 100%
  );
  border-radius: 50px;
  border: none;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 27px;
  align-items: center;
  text-align: center;
  color: #e8e5f0;
}

::placeholder {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 27px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #e8e5f0;
  opacity: 50%;
}

.btn__translate {
  margin-top: 20px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 1000;
  font-size: 20px;
  letter-spacing: 0.135em;
  color: #b1a9cf;
  text-align: center;
  align-items: center;
  width: 200px;
  height: 50px;
  border: 3px solid #b1a9cf;
  border-radius: 50px;
  background: none;
}

.btn__translate:hover {
  background-color: #b1a9cf;
  color: #2a1d4b;
}

.display__img {
  margin: 10px;
  overflow-x: auto;
  overflow-y: hidden;
  height: 120px;
  width: 800px;
  overflow-x: scroll;
  display: grid;
  grid-auto-flow: column;
}

.display__img li {
  list-style-type: none;
}

img {
  width: auto;
  height: 114px;
}

/* ============ Handphone =========== */
@media screen and (max-width: 768px) {
  .nav {
    justify-content: center;
  }
  .textToSign {
    padding-top: 5%;
  }
}
